<div id="blue">
    <div class="container">
    <div class="row">
      <h3>Join As An Artist.</h3>
    </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

<%= render 'form', artist: @artist %>
