<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">

<div id="footerwrap">
 <div class="container">
   <div class="row">
     <div class="col-lg-4">
       <h4>About</h4>
       <div class="hline-w"></div>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
     </div>
     <div class="col-lg-4">
       <h4>Social Links</h4>
       <div class="hline-w"></div>
       <p>
         <a href="#"><i class="fa fa-dribbble"></i></a>
         <a href="#"><i class="fa fa-facebook"></i></a>
         <a href="#"><i class="fa fa-twitter"></i></a>
         <a href="#"><i class="fa fa-instagram"></i></a>
         <a href="#"><i class="fa fa-tumblr"></i></a>
       </p>
     </div>
     <div class="col-lg-4">
       <h4>Our Address</h4>
       <div class="hline-w"></div>
         <p>
           200 Oxford Street,<br/>
           Sydney, NSW<br/>
           2000, Australia.<br/>
         </p>
         <p>
           Email: info@goodart.com<br/>
           Tel: 0420 123 456
         </p>
     </div>
   </div>
 </div>
</div>

<div class="copyright">
  <div class="container">
    <div class="col-md-4">
      <p>© 2017 - All Rights with DivijMehraCo</p>
    </div>
    <div class="col-md-8">
      <ul class="bottom_ul">
        <li><a href="#">divijmehra.com</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Thoughts</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Site Map</a></li>
      </ul>
    </div>
  </div>
</div>
