<script src="assets/javascripts/js/modernizr.js"></script>

	<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
    <div class="container">
			<div class="row">
				<h3>About Us.</h3>
			</div>
    </div>
	</div>
	<!-- *****************************************************************************************************************
	 GOOD ART ABOUT
	 ***************************************************************************************************************** -->

	 <div class="container mtb">
	 	<div class="row">
	 		<div class="col-lg-6">
	 			<img class="img-responsive" src="http://i.imgur.com/CyhujfI.jpg" alt="">
	 		</div>

	 		<div class="col-lg-6">
		 		<h4>About Good Art</h4>

		 		<p>Good Art empowers artists living with homelessness or disabilities through the celebration and sale of their artwork. Good Art is about creating opportunity, empowerment, and validation.</p>

				<p>We offer our artists the chance to secure their own income through the sale of original paintings, prints, and products. By showcasing and selling artwork via Goodart.com, our artists gain self-confidence that permeates all aspects of their lives. </p>

		 		<p>As a social enterprise and benefit corporation, we are using “business for good.” Every artist earns 70% from the profit of each sale. 10% from each sale go toward strengthening art services for community partners that support Good Art artists, which includes art programming at social service agencies, shelters, and disability centers. Good Art uses the remaining 20% to further our mission. We realize that in order to make sustainable change, we need to run a financially sustainable business.</p>
 				<p><br/><a href="/contact" class="btn btn-theme">Contact Us</a></p>
	 		</div>
	 	</div>
	 </div>

	<!-- *****************************************************************************************************************
	 TESTIMONIALS
	 ***************************************************************************************************************** -->

	 <div id="twrap">
	 	<div class="container centered">
	 		<div class="row">
	 			<div class="col-lg-8 col-lg-offset-2">
	 			<i class="fa fa-comment-o"></i>
	 			<h4>The test of success is not what you do when you are on top.</h4>
				<h4>Success is how high you bounce when you hit bottom.</h4>
	 			<h4><br/>General George S. Patton</h4>
	 			</div>
	 		</div>
	 	</div>
	 </div>


	    <!-- *****************************************************************************************************************
	    	 MIDDLE CONTENT
	    	 ***************************************************************************************************************** -->

	    	 <div class="container mtb">
	    	 	<div class="row">
	    	 		<div class="col-lg-4 col-lg-offset-1">
	    		 		<h4>More About Good Art.</h4>
							<p>Good Art connects communities with local artists while activating spaces with vibrant, locally-made artwork. Good Art partners with local businesses and building owners to bring art studios, art exhibitions, and art events to businesses, dormant storefronts, and empty spaces. Local artists who are Good Art members are given the opportunity to create, display, promote, and sell their artwork in these diverse venues. Good Art is a creative arena for celebrating local arts.</p>
	     				<p><br/><a href="/pages/about" class="btn btn-theme">More Info</a></p>
	    	 		</div>

	    	 		<div class="col-lg-3">
	    	 			<h4>Frequently Asked</h4>
	    	 			<div class="hline"></div>
	    	 			<p><a href="#">How do you find your artists?</a></p>
	    	 			<p><a href="#">How do you pay your artists?</a></p>
	    	 			<p><a href="#">Are you a non-profit?</a></p>
	    	 			<p><a href="#">Why would companies want to buy art from you?</a></p>
	    	 			<p><a href="#">Are there other ways that you help the homeless and the disabled communities?</a></p>
	    	 		</div>

	    	 		<div class="col-lg-3">
	    	 			<h4>Latest Thoughts</h4>
	    	 			<div class="hline"></div>
	    	 			<p><a href="">Marlon or Binny for CFA Presidency?</a></p>
	    	 			<p><a href="">Latest CFA Ping Pong Rankings</a></p>
	    	 			<p><a href="">Shouhei and his hilarious onesie!</a></p>
	    	 			<p><a href="">Firmanater, Part 2. In cinemas now.</a></p>
	    	 			<p><a href="">The hottest internship in town is at ... click to find out! </a></p>
	    	 		</div>

	    	 	</div>
	    	 </div>

				<br>
 <!-- *****************************************************************************************************************
 	 OUR CLIENTS
 	 ***************************************************************************************************************** -->

 	 <div id="cwrap">
 		 <div class="container">
 		 	<div class="row centered">
 			 	<h3>COMPANIES USING GOOD ART</h3>
 			 	<div class="col-lg-3 col-md-3 col-sm-3">
        <img src="http://i.imgur.com/bLjZ9Xp.png" class="img-responsive">
 			 	</div>
 			 	<div class="col-lg-3 col-md-3 col-sm-3">
 			 		<img src="http://i.imgur.com/zQs41cq.png" class="img-responsive">
 			 	</div>
 			 	<div class="col-lg-3 col-md-3 col-sm-3">
 			 		<img src="http://i.imgur.com/spDxo2a.png" class="img-responsive">
 			 	</div>
 			 	<div class="col-lg-3 col-md-3 col-sm-3">
 			 		<img src="http://i.imgur.com/OxsPeMJ.png" class="img-responsive">
 			 	</div>
 		 	</div>
 		 </div>
 	 </div>

	<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="assets/javascripts/js/bootstrap.min.js"></script>
	<script src="assets/javascripts/js/retina-1.1.0.js"></script>
	<script src="assets/javascripts/js/jquery.hoverdir.js"></script>
	<script src="assets/javascripts/js/jquery.hoverex.min.js"></script>
	<script src="assets/javascripts/js/jquery.prettyPhoto.js"></script>
	<script src="assets/javascripts/js/jquery.isotope.min.js"></script>
	<script src="assets/javascripts/js/custom.js"></script>
