<h1>Home Page</h1>

<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li class="active">Data</li>
</ol>

<div class="jumbotron">
  <div class="container">
    ...
    <%= render 'partials/googlemaps' %>
  </div>
</div>
