<!-- *****************************************************************************************************************
 JUMBOTRON
 ***************************************************************************************************************** -->

<div class="jumbotron mb">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <br><br><br><br><br><br>
        <h2 class"header">We connect socially conscious businesses with talented artists</h2>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <h3>Beautiful Art For Your Business</h3>
        <p><a href="/pages/about" class="btn btn-default btn-lg">Learn More »</a></p>
      </div>
      <!-- <div class="col-lg-8 col-lg-offset-2 himg">
         <img src="http://i.imgur.com/PFzp0H1.jpg" alt="Responsive Image" class="img-responsive">
      </div> -->
    </div>
  </div>
</div>

<!-- *****************************************************************************************************************
 FEATURES
 ***************************************************************************************************************** -->

<div id="service">
   <div class="container">
     <div class="row centered">
       <div class="col-md-4">
         <i class="fa fa-users"></i>
         <h4>Locally Made</h4>
         <p>Experience the wonderful selection of artworks made in Australia. Our store features items from over 300 local artists. Whether you're looking for that perfect gift or something to jazz up that office wall, look and support our local Good Art artists!</p>
         <p><br/><br><a href="/artists" class="btn btn-theme">More Info</a></p>
       </div>
       <div class="col-md-4">
         <i class="fa fa-paint-brush"></i>
         <h4>Quality Artworks</h4>
         <p>If you are looking for inspiring quality artworks, Good Art is the place to come. Whether you prefer beautiful photography, bold imagery or abstract paintings, you can find modern wall art to suit your tastes right here.</p>
         <p><br/><br><br><a href="/arts" class="btn btn-theme">More Info</a></p>
       </div>
       <div class="col-md-4">
         <i class="fa fa-heart"></i>
         <h4>Art For Good</h4>
         <p>Local struggling artists who are Good Art members are given the opportunity to create, display, promote, and sell their artwork to the wider community. We help create visibility and accessibility for these local artists by providing them the creative arenas for celebrating local arts.</p>
         <p><br/><a href="/pages/about" class="btn btn-theme">More Info</a></p>
       </div>
     </div>
   </div>
  </div>

   	<!-- *****************************************************************************************************************
   	 TESTIMONIALS
   	 ***************************************************************************************************************** -->

   	 <div id="twrap">
   	 	<div class="container centered">
   	 		<div class="row">
   	 			<div class="col-lg-8 col-lg-offset-2">
   	 			<i class="fa fa-comment-o"></i>
          <h4>The test of success is not what you do when you are on top.</h4>
          <h4>Success is how high you bounce when you hit bottom.</h4>
          <h4><br/>General George S. Patton</h4>
   	 			</div>
   	 		</div>
   	 	</div>
   	 </div>

   	<!-- *****************************************************************************************************************
   	 OUR CLIENTS
   	 ***************************************************************************************************************** -->

   	 <div id="cwrap">
   		 <div class="container">
   		 	<div class="row centered">
   			 	<h3>COMPANIES USING GOOD ART</h3>
   			 	<div class="col-lg-3 col-md-3 col-sm-3">
          <img src="http://i.imgur.com/bLjZ9Xp.png" class="img-responsive">
   			 	</div>
   			 	<div class="col-lg-3 col-md-3 col-sm-3">
   			 		<img src="http://i.imgur.com/zQs41cq.png" class="img-responsive">
   			 	</div>
   			 	<div class="col-lg-3 col-md-3 col-sm-3">
   			 		<img src="http://i.imgur.com/spDxo2a.png" class="img-responsive">
   			 	</div>
   			 	<div class="col-lg-3 col-md-3 col-sm-3">
   			 		<img src="http://i.imgur.com/OxsPeMJ.png" class="img-responsive">
   			 	</div>
   		 	</div>
   		 </div>
   	 </div>
